## Data Analysis with SQL.
* In this session we'll attempt to analyse data and answer some business questions with SQL.
* We are going to use the [database](https://github.com/lerocha/chinook-database) for this session.
* It contains information about a fictional digital music shop.

**DATABASE SCHEMA**
<img src="./images/chinook-schema.svg" alt="Chinook db schema" width="400px" height="200px">

In [5]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

### Database summary

In [6]:
%%sql
SELECT name, type
    FROM sqlite_master
    WHERE type in ("table", "view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

### Context Questions
1. **Write a query that gathers data about the invoice with an invoice_id of 5. Include the following columns**
> * The id of the track, track_id.
> * The name of the track, track_name.
> * The name of media type of the track, track_type.
> * The price that the customer paid for the track, unit_price.

2. **Add a column containing the artists name to the query from the previous question.**
> * The column should be called artist_name.
> * The column should come last in the result table.

In [12]:
%%sql
-- QN. 1
SELECT 
    i.unit_price,
    t.name AS track_name,
    mt.name AS track_type
FROM invoice_line AS i
INNER JOIN track AS t
    ON i.track_id = t.track_id
INNER JOIN media_type AS mt
    ON t.media_type_id = mt.media_type_id
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(0.99, 'Right Next Door to Hell', 'Protected AAC audio file'),
 (0.99, "Dust N' Bones", 'Protected AAC audio file'),
 (0.99, 'Live and Let Die', 'Protected AAC audio file'),
 (0.99, "Don't Cry (Original)", 'Protected AAC audio file'),
 (0.99, 'Perfect Crime', 'Protected AAC audio file')]

In [15]:
%%sql
-- QN. 2
SELECT 
    i.unit_price,
    t.name AS track_name,
    mt.name AS track_type,
    ar.name AS artist_name
FROM invoice_line AS i
INNER JOIN track AS t
    ON i.track_id = t.track_id
INNER JOIN media_type AS mt
    ON t.media_type_id = mt.media_type_id
INNER JOIN album AS al
    ON al.album_id = t.album_id
INNER JOIN artist AS ar
    ON ar.artist_id = al.artist_id
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(0.99, 'Right Next Door to Hell', 'Protected AAC audio file', "Guns N' Roses"),
 (0.99, "Dust N' Bones", 'Protected AAC audio file', "Guns N' Roses"),
 (0.99, 'Live and Let Die', 'Protected AAC audio file', "Guns N' Roses"),
 (0.99, "Don't Cry (Original)", 'Protected AAC audio file', "Guns N' Roses"),
 (0.99, 'Perfect Crime', 'Protected AAC audio file', "Guns N' Roses")]

### Business Questions
1. Write a query that returns information about each employee and their supervisor. (Include **employee_name, employee_title, supervisor_name & supervisor_title**).
2. Which is the most selling music genre in the store?
3. Which sales employee had the most sales?
4. Get sales distribution by country.